<div data-controller = "share">
  <!-- BEwARE! INPUT FIELD SET TO DISPLAY: NONE! -->
  <input data-target = "share.link" type="text" value='<%= request.original_url%>' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
  <!-- The button used to copy the text -->
  <button data-action="click->share#copy" class="btn btn-sm btn-primary" data-toggle="tooltip" id="sweet-share" data-placement="bottom" title="click to copy the link">share</button>
</div>