<div>
  <input type="text" value='<%= request.original_url%>' id="myInput" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
  <!-- The button used to copy the text -->
  <button onclick="myFunction()" class="btn btn-sm btn-primary">share</button>
</div>