     <!-- The text field -->
<input type="text" value="Hello World" id="myInput">
<!-- The button used to copy the text  ask TAs to help  -->
<button onclick="myFunction()">Copy link</button>
<!-- need to create the JSfunctions.
and styling -->