<div class="position-fixed" style="top:2%; left:45%;">
  <%= link_to "Back", card_path(@card), class: 'btn btn-outline-info mr-2' %>
  <%= link_to "Send now", send_card_path(@card), class: 'btn btn-success' %>
</div>