<div class="template-container">
  <div class="glide" style="width:700px;">
    <div class="glide__track templates" data-glide-el="track">
      <ul class="glide__slides">
        <% Card::TEMPLATES.each do |template|  %>
          <li class="glide__slide">
            <%= image_tag "templates/#{template}", alt: "alttext", width: "100%", class: "template", data: {name: template} %>
          </li>
        <% end %>
      </ul>
      <p id="card-title-preview">choose your title</p>
      <!-- upload the main picture in the middle of the card -->
      <%= f.input :photo, input_html: { class: 'd-none', id: 'upload-photo' }, label_html: { class: 'upload-photo'}, label: ('<i class="fas fa-camera"></i>').html_safe%>
      <!-- photo preview -->
      <%= image_tag "", width: 200, class: "hidden", id: "photo-preview", style: " top: 50%; left: 50%" %>
    </div>
    <div class = "carousel-controllers d-flex justify-content-around" data-glide-el="controls">
      <button class="btn btn-outline-primary mx-1 slider-btn" data-glide-dir="<"><i class="fas fa-arrow-circle-left"></i></button>
      <button class="btn btn-outline-primary mx-1 slider-btn" data-glide-dir=">"><i class="fas fa-arrow-circle-right"></i></button>
    </div>
  </div>
</div>