<div class="container">
  <div class="display-flex mt5">
    <%= simple_form_for(@card) do |f| %>
      <%= f.input :title %>
      <%= f.button :submit,  class: "btn-primary" %>
    <% end %>
  </div>
</div>