<div class="container">
  <%= simple_form_for(@card) do |f| %>
    <%= f.input :title, placeholder:"What is the special moment" %>
    <%= f.button :submit,  class: "btn-primary" %>
    <%= f.button :button, "Invite", class: "btn-info" %>
  <% end %>
  <hr>
</div>