<!-- OBSOLETE -->
<div class="container">
  <h2>My Contribution</h2>
  <ul>
    <li>
      <p><%= @manager_contribution.content %></p>
      <p><strong> from <%= @manager_contribution.contributor_name %></strong></p>
    </li>
  </ul>
  <hr>
</div>