<div class="wrapper">
  <div class="item">
    <div class="polaroid">
      <div class="caption">
        <p><%= contribution.content %></p>
        <strong><%= contribution.contributor_name %></strong>
      </div>
    </div>
  </div>
</div>