<div class="turn-pages d-flex justify-content-between mt-1 mx-1">
  <%= link_to left_page do  %>
    <i class="fas fa-arrow-circle-left bg-success text-light shadow-sm rounded px-3 py-3"> Previous</i>
  <% end %>
  <%= link_to right_page do  %>
    <i class="fas fa-arrow-circle-right bg-success text-light shadow-sm rounded px-3 py-3"> Next</i>
  <% end %>
</div>