<div class="turn-pages d-flex justify-content-between">
  <%= link_to left_page do  %>
    <i class="fas fa-arrow-circle-left bg-success shadow-sm rounded p-1"> Previous</i>
  <% end %>
  <%= link_to right_page do  %>
    <i class="fas fa-arrow-circle-right bg-success shadow-sm rounded p-1"> Next</i>
  <% end %>
</div>