<div class="wrapper">
  <div class="item">
    <div class="polaroid"><img src="https://image.ibb.co/b8UJBc/administration_architecture_big_ben_221166.jpg">
      <div class="caption"><%= contribution.content %></div>
    </div>
  </div>
</div>