<div class="container bg-success mb-5" >
  <div class="d-flex justify-content-between">
    <h2 class= "text-primary"><%= pluralize(contributions.count, 'contribution') %></h2>
    <div class = "d-flex">
      <!-- Finalize and Preview -->
      <div class="p-3">
        <% title = @card.draft? ? "Finalize and Preview" : "View card" %>
        <%= link_to title, card_preview_path(@card), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <br>
  <!-- glide.js contribution card carousel -->
  <%= render 'cards/partials/cards_carousel' if contributions.any? %>
  <!-- card project -->
  <%= render 'cards/partials/card_project_body', card: card, contributions: contributions %>
</div>