<div class="container bg-success mb-5" >
  <h2 class= "text-primary"><%= @external_contributions.count %> contributions</h2>
  <br>
  <!-- glide.js contribution card carousel -->
  <%= render 'cards/partials/cards_carousel' %>
  <!-- card project -->
  <%= render 'cards/partials/card_project_body' %>
  <!-- card project footer -->
  <%= render 'cards/partials/card_project_footer' %>
</div>