<!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="false">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%#= image_tag "Slider1.jpg", alt: "alttext", class:"d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h1>"Never miss any moment"</h1>
        <p>On their anniversary</p>
      </div>
    </div>
    <div class="carousel-item">
      <%#= image_tag "Slider2.jpg", alt: "alttext", class:"d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h1>"Never miss any moment"</h1>
        <p>On his promotion</p>
      </div>
    </div>
    <div class="carousel-item">
      <%#= image_tag "Slider3.jpg", alt: "alttext", class:"d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h1>"Never miss any moment"</h1>
        <p>On her birthday</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->
<div class="banner-container">
  <div class="banner-content banner-show" style="background-image: url(<%= image_path "Slider1.jpg" %>)">
    <h1>"Never miss any moment"</h1>
    <p>On their anniversary</p>
  </div>
  <div class="banner-content" style="background-image: url(<%= image_path "Slider2.jpg" %>)">
    <h1>"Never miss any moment"</h1>
    <p>On his promotion</p>
  </div>
  <div class="banner-content" style="background-image: url(<%= image_path "Slider3.jpg" %>)">
    <h1>"Never miss any moment"</h1>
    <p>On her birthday</p>
  </div>
</div>