<h1>Cards#new</h1>
<p>Find me in app/views/cards/new.html.erb</p>
<%= simple_form_for @card do |f| %>
  <%= f.input :title, placeholder: "Card's title" %>
  <%= f.submit class: 'btn btn-outline-secondary' %>
<% end %>