<h1>Cards#new</h1>
<p>Find me in app/views/cards/new.html.erb</p>
<%= simple_form_for(@card) do |f| %>
  <%= f.input :text %>
  <%= f.submit %>
<% end %>
<%= link_to 'Write your message!', edit_card_path(@card), :class => "btn btn-success" %>