<div class="container">
  <div class="row justify-content-center">
    <div class="col col-sm-8">
      <h1>Let's create a card</h1>
      <%= render "cards/partials/form" %>
    </div>
  </div>
</div>