.banner-container {

}

.banner-content {
  visibility: hidden;
  opacity: 0;
  height: 0px;
  background-size: cover;
  transition: opacity 1s;
  text-align: right;
  padding-right: 36px;

  h1 {
  padding-top: 25px;
  color: floralwhite;
  text-shadow: 1px 1px 1px mediumpurple;

  }
}



.banner-content.banner-show {
  height: 75.8vh;
  visibility: visible;
  opacity: 1;
}
