.contribution-card {
  background-color: white;
  font-size: 16px;
  border-radius: 4px;
  width: 400px;
  padding: 8px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3)
}

.contribution-card-footer {
  display: flex;
  justify-content : space-between
}


.card-project {
  // width: 1110px;
  height: 740px;
  // background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  // background-color: grey;
  // margin: auto;
  // height: 100%;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 30% 40% 30%;
  grid-template-areas:
    "left top right"
    "left center right"
    "left bottom right";
}

.grid-area {
  display: flex;
  justify-content: space-evenly;
  &:nth-child(1) {
    grid-area: left;
    flex-direction: column-reverse;
    padding: 8em 0;
  }
  &:nth-child(2) {
    grid-area: right;
    flex-direction: column;
    padding: 8em 0;
  }
  &:nth-child(3) {
    grid-area: top;
    padding-top: 8em;
    margin: 0 -30%;
  }
  &:nth-child(4) {
    grid-area: bottom;
    flex-direction: row-reverse;
    padding-bottom: 8em;
    margin: 0 -30%;
  }
}

.contribution-mini-card {
  background-color: white;
  font-size: 8px;
  border-radius: 4px;
  width: 200px;
  padding: 8px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  margin: 8px;
  height: 100px;
}

// .card-right {
//   padding: 4px;
//   width: 30%;
//   height: 700px;
// }

.card-center {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-center h3 {
  font-family: 'Courgette', cursive;
  font-size: 36px;
}

.card-left {
  padding: 4px;
  width: 30%;
  height: 700px;

}

.turn-pages {
  font-size: 24px;
}

/* turning the pages */
.previous-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  display: flex;
  justify-content: space-between;
}

.next-button {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  z-index: 10000;
  display: flex;
  justify-content: space-between;
}

/* previous buttons */

.preview_btns {
  position: fixed;
  bottom : 2%;
  right: 1%;
  z-index: 10000;
}

