.dashboard-title {
    text-align: center;
    margin: 25px;
    color: #6F4A8E;
}

.dashboard-card-title {
  h4 {
    text-align: center;
    margin: 25px;
    color: #6F4A8E;
  }
}

.dashboard-list {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-left: 14px;
}
