
.upload-photo {
  position: absolute;
  top: 19%;
  left: 46%;
  font-weight: 900;
  font-size: 32px;
  opacity: 0.5;
  transition: 0.5s ease;
  border-radius: 50%;
  width: 64px;
  height: 64px;
}


.upload-photo:hover{
  opacity: 0.9;
  transform: scale(1.1);
}


#upload-btn {
  position: absolute;
  top: 8%;
  left: -35%;
}


/*-----------------UNUSED------------------------------------------------*/

// .upload-container {
//   position: absolute;
//   top: 20%;
//   left: 42%;
// }
