.navbar-lewagon {
  justify-content: space-between;
  background: #f6bed6;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-logo a {
  font-family: 'Kaushan Script', cursive;
  color: #6F4A8E;
  font-size: 42px;
  padding-left: 25px;
  font-weight: bold;
}
