.template-container {
  display: flex;
}

.chosen-template {
  margin-left: 16px;
  margin-top: 10px;
}

.template {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.template-border {
  border: 4px solid pink;
}
