.template-container {
  display: flex;
  flex-direction: column;
  position:relative;
}

.chosen-template {
  margin-left: 16px;
  margin-top: 10px;
  position: relative;
}

#card-title-preview {
  text-shadow: 2px 2px 8px #FFF;
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-family: 'Courgette', cursive;
  font-size: 24px;
  z-index: 100;
}

.template {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.template-border {
  border: 4px solid pink;
}

.carousel-controllers{
  position: absolute;
  top: 46%;
  left: -60%;
  width: 220%;
}

.carousel-controllers button {
  font-size: 24px;
}
