// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
/* Glide.js Required Core Stylesheet*/
@import "@glidejs/glide/src/assets/sass/glide.core";
/* Glide.js Optional Theme Stylesheet*/
@import "@glidejs/glide/src/assets/sass/glide.theme";
/* Social share button */
@import "social-share-button";


// Your CSS partials
@import "components/index";
@import "pages/index";



li {
    list-style : none;
}

a:hover {
  text-decoration: none;
}
